$hiddenCardImage: "/assets/images/defaultCard.jpg";

.card {
  min-width: 250px;
  width: clamp(250px, 30vw, 400px);
  aspect-ratio: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border: 8px solid #ffcc00;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  h1 {
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    text-align: center;
    margin: 0;
    // flex: 0 0 10%;
  }

  img {
    max-width: 80%;
    max-height: 60%;
    object-fit: contain;
    flex: 0 0 60%;
    margin: 10px 0;
    border-bottom: 1px solid #ccc; /* Divider */
  }

  p {
    font-size: 0.9rem;
    text-align: center;
    flex: 0 0 10%; /* 10% of the height */
    margin: 0;
    padding-top: 10px; /* Spacing from divider */
  }

  ul {
    list-style: none; /* Remove bullets */
    padding: 0;
    margin: 0;
    display: flex; /* Align horizontally */
    justify-content: center; /* Center items */
    gap: 10px; /* Spacing between types */
    flex: 0 0 10%; /* 10% of height */
  }

  li {
    font-size: 0.9rem;
    text-transform: capitalize; /* Capitalize types */
    padding: 5px 10px;
    border-radius: 12px; /* Rounded pills */
    background-color: rgba(0, 0, 0, 0.1); /* Light background */
  }
}

.hiddenCard {
  min-width: 250px;
  width: clamp(250px, 30vw, 400px);
  aspect-ratio: 2 / 3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: visible;
  border: 8px solid #000599;
  background-image: url($hiddenCardImage);
  background-size: contain;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

.loading-indicator {
  width: 50px;
  height: 50px;
  background-color: #ff0707;
  border-radius: 50%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  .exclamation {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
  }

  &::after {
    content: attr(title);
    position: absolute;
    bottom: 25%; /* Move the tooltip above the circle */
    left: 200%;
    transform: translateX(-50%);
    background-color: #810000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
    white-space: nowrap;
    z-index: 9999; /* Ensure tooltip is on top */
    pointer-events: none; /* Prevent the tooltip from blocking interaction */
  }

  &:hover::after {
    opacity: 1;
    visibility: visible;
  }
}

.diagnose {
  border: 1px solid red;
}

.card.fire {
  background-color: #ffebee; /* Light red */
}

.card.grass {
  background-color: #e8f5e9; /* Light green */
}

.card.water {
  background-color: #e3f2fd; /* Light blue */
}

.card.electric {
  background-color: #fffde7; /* Light yellow */
}

.card.rock {
  background-color: #eceff1; /* Light gray */
}

.card.ground {
  background-color: #eceff1; /* Light gray */
}
